{{/* picked from index.html (entire content) */}}
{{- $page := .GetPage "/paroisse" -}}
{{ with $page }}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <title>{{- .Site.Title -}}</title>
    {{ $siteDescription := .Site.Params.description }}
    {{ if (index .Site.Data .Site.Language.Lang).site }}
      {{ $siteConfig := (index .Site.Data .Site.Language.Lang).site }}
      {{ if $siteConfig.description }}
        {{ $siteDescription = $siteConfig.description }}
      {{ end }}
    {{ end }}
    <meta name="description" content="{{ $siteDescription }}" />
    
    <!-- import common headers -->
    {{- partial "header.html" . -}}
    {{- partial "opengraph.html" . -}}
    
    <!--================= add analytics if enabled =========================-->
    {{- partial "analytics.html" . -}}
    {{ with resources.Get "scripts/core/theme-scheme.js" | fingerprint }}
    <script integrity="{{.Data.Integrity}}">
     {{ .Content | safeJS }}
    </script>
    {{ end }}
    {{ $styles := resources.Get "css/main.css" | postCSS (dict "config" "./assets/css/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />
  </head>
  <body data-bs-spy="scroll" data-bs-target="#top-navbar" data-bs-offset="100">
    <!--- NAVBAR ------------------------->
    {{- partial "navigators/navbar.html" . -}}

    <!--- ADD CONTENT SECTION ---------------->
    {{- partial "sections/content.html" (dict "Content" "") -}}

    <!--- ADD FOOTER ----------------------->
    {{/*  {{ $footerTemplate:= site.Params.footer.template | default "footer.html" }}
    {{- partial $footerTemplate . -}}  */}}
    {{ $cardBgSrc := resources.Get "/images/card_bg.png" }}
    <style>
      .menu-card {
        background-image: url('{{ $cardBgSrc.RelPermalink }}');
        background-position: 0 -16px;
        background-repeat: repeat-y;
        background-size: cover;
      }
    </style>
    <div class="bg-transparent border-dotted border-1 flex flex-row justify-around gap-3 h-[48vh] w-full fixed bottom-0 left-0 px-4 md:px-8 lg:px-24">
      <div class="card bg-transparent cursor-pointer my-[2.5%] w-sm font-[Anton] menu-card">
        {{- partial "sections/title.html" (dict "content" "Paroisse de Navarrenx") }}
        <div class="card-body flex flex-row align-items-center justify-content-center">
          <a href="/paroisse">{{- partial "sections/subsubtitle.html" (dict "content" "Je clique ici pour ens avoir plus") }}</a>
        </div>
      </div>

      <div class="card bg-transparent cursor-pointer my-[2.5%] w-sm font-[Anton]  menu-card">
        {{- partial "sections/title.html" (dict "content" "Paroisse de Sauveterre") }}
        <div class="card-body flex flex-row align-items-center justify-content-center">
          <a href="/paroisse">{{- partial "sections/subsubtitle.html" (dict "content" "Je clique ici pour ens avoir plus") }}</a>
        </div>
      </div>

      <div class="card bg-transparent cursor-pointer my-[2.5%] w-sm font-[Anton]  menu-card">
        {{- partial "sections/title.html" (dict "content" "J'ai une question") }}
        <div class="card-body flex flex-col justify-content-center align-items-center">
          {{- partial "sections/subtitle.html" (dict "content" "Baptême, funérailles, mariage")}}
          <a href="/contact">{{- partial "sections/subsubtitle.html" (dict "content" "Je clique ici pour ens avoir plus") }}</a>
        </div>
      </div>

      <div class="card bg-transparent cursor-pointer my-[2.5%] w-sm font-[Anton]  menu-card">
        {{- partial "sections/title.html" (dict "content" "Accueil des pélerins") }}
        <div class="card-body flex flex-col justify-content-center align-items-center">
          {{- partial "sections/subtitle.html" (dict "content" "Possible entre Avril et Octobre")}}
          <a href="/la-vie-communautaire"> {{- partial "sections/subsubtitle.html" (dict "content" "Je clique ici pour ens avoir plus") }}</a>
        </div>
      </div>
    </div>

    <!--- ADD COMMON SCRIPTS --------------->
    {{ partial "scripts.html" . }}

    <!------ ADD SUPPORT LINKS -------->
    {{- partial "misc/support.html" . -}}

  </body>
</html>
{{ end }}